version: "3.8"

services:
  backend:
    build: .
    entrypoint: ./entrypoint.sh
    volumes:
      - .:/project
    ports:
      - "8000:8000"
    restart: always
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env

  db:
    image: mysql:8.0
    volumes:
      - mysql_data:/var/lib/mysql
    environment:
      - MYSQL_USER=${SQL_USER}
      - MYSQL_PASSWORD=${SQL_PASSWORD}
      - MYSQL_DATABASE=${SQL_DATABASE}
      - MYSQL_ROOT_PASSWORD=${SQL_PASSWORD}
    env_file:
      - .env
    restart: unless-stopped
    command: --default-authentication-plugin=mysql_native_password
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p${SQL_PASSWORD}" ]
      interval: 5s
      timeout: 5s
      retries: 10

volumes:
  mysql_data: