body, html {
    margin: 0;
    background-color: #FAFAFA;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    padding: 60px 20px;
    flex: 1;
    width: 100%;
    box-sizing: border-box;
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-text {
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    color: #333;
}