#modal {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;

    display: flex;
    flex-direction: column;
    align-items: center;

    animation-name: fadeIn;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

#modal > .modal-underlay {
    position: absolute;
    z-index: -1;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#modal > .modal-content {
    margin-top: 10vh;
    width: 80%;

    border: solid 1px #999;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    background-color: white;

    animation-name: zoomIn;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

#modal.closing {
    animation-name: fadeOut;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

#modal.closing > .modal-content {
    animation-name: zoomOut;
    animation-duration: 150ms;
    animation-timing-function: ease;
}

@media (min-width: 768px) {
    #modal > .modal-content {
        max-width: 734px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
    }
}

.popup-close-create {
    background: none;
    border: none;
    cursor: pointer;

}

.popup-header-create {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#popup-overlay-create {
    padding: 20px;
}

.btn-create {
    margin-top: 15px;
    background-color: #3875d7;
    padding: 15px;
    border: none;
    border-radius: 37px;
}